<div class="card mb-3">
  <h3 *ngIf="channel != null" class="card-header">{{channel.name}}</h3>
  <h3 *ngIf="channel == null" class="card-header">Chat</h3>
  <div class="card-body" style="height: 500px; overflow-y:scroll">
    <p *ngFor="let data of chatHistory">
      <img src="http://localhost:3000/images/{{data.username}}.png" style="width: 30px; margin-right: 5px; border: solid 1px white;" />
      <b>{{data.username}}</b>: {{data.message}}
    </p>
  </div>
  <div class="card-footer text-muted">
    <div class="form-inline">
      <input class="form-control" style="width:calc(100% - 100px)" [(ngModel)]="message">
      <button class="btn btn-primary" style="width:100px" (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>